<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- favicon -->
    <link rel=icon href=favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <!-- Themify icon -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <!-- Cookie -->
    <link rel="stylesheet" href="/assets/css/cookiealert.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body>

    <div class='progress' id='preLoaderbar'>
        <div class='indeterminate'></div>
    </div>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>

    <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>

    <script src="/assets/js/countdown.js"></script>
    <!-- slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Datepicker -->
    <script src="/assets/js/datepicker.min.js"></script>
    <script src="/assets/js/datepicker-en.js"></script>
    <!-- Cookie -->
    <script src="/assets/js/cookiealert.js"></script>
    
     <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script>
        //<![CDATA[
        document.onreadystatechange = function () {
                    if (document.readyState === "complete") {
                        console.log(document.readyState);
                        document.getElementById("preLoaderbar").style.display = "none";
                    }
                }
        //]]></script>
</body>

</html>

