    <!-- start footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 border-e-dashed">
                    <a href="layout-one-1.html">
                            ahmed rawy logo
                    </a>
                    </p>
                    <ul class="list-unstyled footer-social mb-0 mt-sm-0 mt-3">
                        <li class="list-inline-item">
                            <a href="#"> <i class="icon-xs" data-feather="facebook"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="icon-xs" data-feather="twitter"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="icon-xs" data-feather="github"></i> </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="icon-xs" data-feather="instagram"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="row">
                        <div class="col-md-3">
                                <a href="#home">Home</a>
                        </div>
                        <div class="col-md-3">
                                <a href="#resume">Resume</a>
                        </div>
                        <div class="col-md-3">
                                <a href="#blogs">Blogs</a>
                        </div>
                        <div class="col-md-3">
                                <a href="#">Terms & condition</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- end top footer -->


{# Start Bottom Footer #}
    <div class="footer-alt">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p> &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>  Created with <i class="las la-heart text-danger"></i> by Mannatthemes</p>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#">- Terms & condition<sup class="text-danger">*</sup></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer alter -->