    {# <!-- start navbar -->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">
                    Ahmed Rawy
                </a>
            <!--end navbar-brand-->
            <a href="javascript:void(0)" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
                </a>
            <!--end navbar-toggler-->

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
                <a 
                href="/ar" 
                style="
                {% if ar %}
                    display: block;
                {% else %}
                    display: none;
                {% endif %}
                " 
                class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0">Ar <img src="assets/images/484633.png" style="width: 1.8rem" alt=""></a>
            </div>
        </div>
    </nav> #}