---
title: example
ar: true
layout: 'base.njk'
---

<!-- start hero -->
<section
    class="hero-one position-relative main-bg"
    id="home"
    style="background-image: url(assets/images/personal/main-bg.png); background-size: cover; background-position: center
        center;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 hero-img mx-auto mt-5">
                <img src="assets/images/Background copy.png" alt="" class="img-fluid ml-lg-5"></div>
                <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                    <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm Ahmed Rawy</h5>
                    <h1 class="hero-title mb-4 font-secondary fo">
                        <mark>
                            <span class="fw-medium typewrite">
                                Account Manager
                            </span>
                        </mark>
                        At ZAIN MEDIA Solutions
                    </h1>
                    <span class="wrap"></span>
                    <div class="mb-5 mb-lg-0">
                        <div class="d-inline-block">
                            <a href="#" class="btn btn-primary">Download CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end hero -->
    <!-- start services -->
    <section id="services">
        <div class="row" style="--bs-gutter-x: 0 !important;">
            <div class="col-lg-4 col-md-6 brief-container">
                <div class="card rounded brief brief-1 shadow border-0">
                    <div class="card-body text-center">
                        <img src="assets/images/plan.png" alt="">
                            <h2 class="fs-22 fw-medium my-4">Planning</h2>
                            <p class="pb-4">Some quick example text to build on the card title and make up the bulk of the card's content platform.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 brief-container">
                    <div class="card rounded shadow brief brief-2 border-0">
                        <div class="card-body text-center ">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116
                                        0v8.25a3 3 0 01-3 3z"/>
                            </svg>
                            <h2 class="fs-22 fw-medium my-4">Markting</h2>
                            <p class=" pb-4">Credibly brand standards compliant users without extensible services. Anibh euismod tincidunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 brief-container">
                    <div class="card rounded shadow brief brief-3 border-0">
                        <div class="card-body text-center">
                            <img src="assets/images/pngaaa.com-371808.png" alt="">
                                <h2 class=" fs-22 fw-medium my-4">Business Development</h2>
                                <p class=" pb-4">Separated they live in Bookmarksgrove right at the coast of the Semantics, and large.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end services -->
            <!-- start about -->
            <section class="section" id="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 align-self-center">
                            <h5 class="fs-24 text-dark fw-medium">
                                <mark>About Me</mark>
                            </h5>
                            <h4 class="fw-normal lh-base text-gray-700 mb-4 fs-20">
                                I am Ahmed, I help people in their educational journey and build a career, I am also a content creator
                            </h4>
                        </div>
                        <!--end col-->
                        <div class="col-lg-5 about-image ms-auto align-self-center">
                            <div class="mb-5 mb-lg-0">
                                <img src="assets/images/راوي.jpg" style="width: 100%" alt=""></div>
                            </div>
                            <!--end col-->
                            <!-- End Col -->
                        </div>
                        <!--end row-->
                    </div>
                    <!-- end container -->
                </section>
                <!-- end about -->
                    <!--what client says -->
                    <section class="section bg-gradient-light-white" id="review">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 mx-auto">
                                    <div class="card rounded shadow ">
                                        <div class="client-carousel">
                                            <div class="row align-items-center">
                                                <div class="col-lg-10 p-5 mx-auto">
                                                    <div class="client-carousel">
                                                        <div id="demo" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-wrap="true">
                                                            <div class="carousel-inner">
                                                                {%- for image in collections.images | reverse -%}
                                                                    <div
                                                                        class="carousel-item text-center {% if image.data.active %} active {% else %} '' {% endif %} "
                                                                        data-bs-interval="4000">
                                                                        <img src="{{ image.data.image }}" alt=""></div>
                                                                    {%- endfor -%}
                                                                </div>
                                                            </div>
                                                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    fill="none"
                                                                    viewBox="0 0 24 24"
                                                                    stroke-width="1.5"
                                                                    stroke="currentColor"
                                                                    class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"/>
                                                                </svg>
                                                            </button>
                                                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    fill="none"
                                                                    viewBox="0 0 24 24"
                                                                    stroke-width="1.5"
                                                                    stroke="currentColor"
                                                                    class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- end what client says -->
                        <!-- our blogs -->
                        <section class="section " id="blogs">
                            <div class="container pb-5">
                                <div class="row justify-content-center mb-4">
                                    <div class="col-12 col-md-10 col-lg-7 text-center">
                                        <h2 class="fs-2 fw-normal lh-1 text-dark my-3">Latest news & insights</h2>
                                        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                                            We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning .
                                        </p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    {%- for post in collections.featured | reverse -%}
                                        {% include 'article-graph.njk' %}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </section>
                        <!--end projects-->
                        <!-- start resume -->
                        <section class="section" id="resume">
                            <div class="container">
                                <div class="row justify-content-center mb-4">
                                    <div class="col-12 col-md-10 col-lg-7 text-center">
                                        <h2 class="fs-2 fw-medium lh-1 text-dark my-3">Qustions🤔</h2>
                                        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                                            We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning .
                                        </p>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row g-0">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="card rounded bg-light h-100 border-0">
                                                    <div class="card-body ">
                                                        <div class="">
                                                            <img src="assets/images/روي.jpg" alt="" class="vector-dark" style="width:100%;height: 19rem"></div>
                                                        </div>
                                                        <!-- end card-body -->
                                                    </div>
                                                    <!-- end card -->
                                                </div>
                                                <!-- end col -->
                                                <div class="col-lg-8 col-md-6">
                                                    <div class="card rounded bg-white  h-100 border-0">
                                                        <div class="card-body p-0">
                                                            <div class="accordion accordion-flush" id="Education_accordion">
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="prime">
                                                                        <button
                                                                            class="accordion-button"
                                                                            type="button"
                                                                            data-bs-toggle="collapse"
                                                                            data-bs-target="#Education_one"
                                                                            aria-expanded="false">
                                                                            MSc IT Master Degree
                                                                        </button>
                                                                    </h2>
                                                                    <div
                                                                        id="Education_one"
                                                                        class="accordion-collapse collapse show"
                                                                        aria-labelledby="prime"
                                                                        data-bs-parent="#Education_accordion">
                                                                        <div class="accordion-body">
                                                                            <p class="text-muted mb-3">Harvard University is an educational institution that offers graduate, professional, and
                                                                                research programs in the fields of and public health.
                                                                            </p>
                                                                            <p class="fw-medium">Harvard University, Cambridge, MA, United States</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end accordion-item-->
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="second">
                                                                        <button
                                                                            class="accordion-button collapsed"
                                                                            type="button"
                                                                            data-bs-toggle="collapse"
                                                                            data-bs-target="#Education_two"
                                                                            aria-expanded="false">
                                                                            BCA college complete course
                                                                        </button>
                                                                    </h2>
                                                                    <div
                                                                        id="Education_two"
                                                                        class="accordion-collapse collapse"
                                                                        aria-labelledby="second"
                                                                        data-bs-parent="#Education_accordion">
                                                                        <div class="accordion-body">
                                                                            <p class="text-muted mb-3">Columbia University is an educational institution that offers graduate, professional, and
                                                                                research programs in the fields of and public health.
                                                                            </p>
                                                                            <p class="fw-medium">Columbia University, New York, NY, United States</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end accordion-item-->
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header" id="higher">
                                                                        <button
                                                                            class="accordion-button collapsed"
                                                                            type="button"
                                                                            data-bs-toggle="collapse"
                                                                            data-bs-target="#Education_three"
                                                                            aria-expanded="false">
                                                                            High / Higher secondary school
                                                                        </button>
                                                                    </h2>
                                                                    <div
                                                                        id="Education_three"
                                                                        class="accordion-collapse collapse"
                                                                        aria-labelledby="higher"
                                                                        data-bs-parent="#Education_accordion">
                                                                        <div class="accordion-body">
                                                                            <p class="text-muted mb-3">Princeton University is an educational institution that offers graduate, professional, and
                                                                                research programs in the fields of and public health.
                                                                            </p>
                                                                            <p class="fw-medium">Princeton University, Princeton, NJ, United States</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end accordion-item-->
                                                            </div>
                                                            <!--end accordion-->
                                                        </div>
                                                        <!-- end card-body -->
                                                    </div>
                                                    <!-- end card -->
                                                </div>
                                                <!-- end col -->
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <!-- end container -->
                            </section>
                            <!-- end resume -->