---
title: example
ar: true
layout: 'base.njk'
---

<!-- navbar area starts -->
<nav class="navbar navbar-area navbar-expand-lg nav-style-02 nav-absolute">
    <div class="container-fluid nav-container">
        <div class="responsive-mobile-menu">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
            <ul dir="rtl" style="text-align: left;" class="navbar-nav">
                <li class="menu-item-has-children current-menu-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="menu-item">
                    <a href="#">عن الياس</a>
                </li>
                <li class="menu-item">
                    <a href="#"> خدماتنا</a>
                </li>
                <li class="menu-item">
                    <a href="#">  الفريق</a>
                </li>
                <li class="menu-item">
                    <a href="#"> معرض الصور والفديوهات</a>
                </li>
                <li class="menu-item">
                    <a href="#"> الياس والنجوم</a>
                </li>
                <li class="menu-item">
                    <a href="#">مقالات تهمك</a>
                </li>
                <li class="menu-item">
                    <a href="#">تواصل معنا</a>
                </li>
            </ul>
        </div>


        <div class="nav-right-content">
            <div class="logo-wrapper">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo/logo.png" alt="logo">
                    <h4>robarto <br>ferracini</h4>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- navbar area end -->

<!-- Banner Starts --> 
<section class="banner-area">
    <div class="slider-area owl-carousel">
         
        <div class="single-slide">
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-6 offset-lg-1 align-self-center">
                        <div class="banner-right">
                            <div class="banner-right-top d-md-flex justify-content-between">
                                <div class="right-img">
                                </div>
                                <div class="banner-content align-self-end">
                                    <h1>إلياس</h1>
                                    <h2 dir="rtl">مصمم أزياء 🧥
                                    </h2>
                                    <p class="different">خيارك الأفضل لتصميم ملابسك</p>

                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner-left">
                            <div class="banner-image image-1">
                            </div>
                            <div class="banner-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner-left">
                            <div class="banner-image image-2">
                                <span>02</span>
                            </div>
                            <div class="banner-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>                                
                    </div>
                    <div class="col-lg-6 offset-lg-1 align-self-center">
                        <div class="banner-right">
                            <div class="banner-right-top d-md-flex justify-content-between">
                                <div class="banner-content align-self-end">
                                    <h2>Discover <br>New Arrivals</h2>
                                    <p class="different">Summer collection 2019</p>
                                </div>
                                <div class="right-img">
                                </div>
                            </div>
                            <div class="banner-middle-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus augue nibh, at ullamcorper orci ullamcorper ut. Nisl tincidunt eget nullam non nisi est. Pharetra et ultrices neque ornare. Ac felis donec et odio pellentesque diam volutpat commodo sed. Dolor sed viverra ipsum nunc aliquet. Pharetra massa massa ultricies mi quis hendrerit dolor. In nisl nisi scelerisque eu ultrices.</p>
                                <span>R</span>
                            </div>
                            <div class="banner-btn">
                                <a href="#" class="template-btn mr-4">Shop women</a>
                                <a href="#" class="template-btn tb-2 mt-sm-3">Shop men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner-left">
                            <div class="banner-image image-3">
                                <span>03</span>
                            </div>
                            <div class="banner-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>                                
                    </div>
                    <div class="col-lg-6 offset-lg-1 align-self-center">
                        <div class="banner-right">
                            <div class="banner-right-top d-md-flex justify-content-between">
                                <div class="banner-content align-self-end">
                                    <h2>Discover <br>New Arrivals</h2>
                                    <p class="different">Summer collection 2019</p>
                                </div>
                                <div class="right-img">
                                </div>
                            </div>
                            <div class="banner-middle-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus augue nibh, at ullamcorper orci ullamcorper ut. Nisl tincidunt eget nullam non nisi est. Pharetra et ultrices neque ornare. Ac felis donec et odio pellentesque diam volutpat commodo sed. Dolor sed viverra ipsum nunc aliquet. Pharetra massa massa ultricies mi quis hendrerit dolor. In nisl nisi scelerisque eu ultrices.</p>
                                <span>R</span>
                            </div>
                            <div class="banner-btn">
                                <a href="#" class="template-btn mr-4">Shop women</a>
                                <a href="#" class="template-btn tb-2 mt-sm-3">Shop men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner-left">
                            <div class="banner-image image-4">
                                <span>04</span>
                            </div>
                            <div class="banner-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>                                
                    </div>
                    <div class="col-lg-6 offset-lg-1 align-self-center">
                        <div class="banner-right">
                            <div class="banner-right-top d-md-flex justify-content-between">
                                <div class="banner-content align-self-end">
                                    <h2>Discover <br>New Arrivals</h2>
                                    <p class="different">Summer collection 2019</p>
                                </div>
                                <div class="right-img">
                                </div>
                            </div>
                            <div class="banner-middle-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus augue nibh, at ullamcorper orci ullamcorper ut. Nisl tincidunt eget nullam non nisi est. Pharetra et ultrices neque ornare. Ac felis donec et odio pellentesque diam volutpat commodo sed. Dolor sed viverra ipsum nunc aliquet. Pharetra massa massa ultricies mi quis hendrerit dolor. In nisl nisi scelerisque eu ultrices.</p>
                                <span>R</span>
                            </div>
                            <div class="banner-btn">
                                <a href="#" class="template-btn mr-4">Shop women</a>
                                <a href="#" class="template-btn tb-2 mt-sm-3">Shop men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner-left">
                            <div class="banner-image image-5">
                                <span>05</span>
                            </div>
                            <div class="banner-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>                                
                    </div>
                    <div class="col-lg-6 offset-lg-1 align-self-center">
                        <div class="banner-right">
                            <div class="banner-right-top d-md-flex justify-content-between">
                                <div class="banner-content align-self-end">
                                    <h2>Discover <br>New Arrivals</h2>
                                    <p class="different">Summer collection 2019</p>
                                </div>
                                <div class="right-img">
                                </div>
                            </div>
                            <div class="banner-middle-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus augue nibh, at ullamcorper orci ullamcorper ut. Nisl tincidunt eget nullam non nisi est. Pharetra et ultrices neque ornare. Ac felis donec et odio pellentesque diam volutpat commodo sed. Dolor sed viverra ipsum nunc aliquet. Pharetra massa massa ultricies mi quis hendrerit dolor. In nisl nisi scelerisque eu ultrices.</p>
                                <span>R</span>
                            </div>
                            <div class="banner-btn">
                                <a href="#" class="template-btn mr-4">Shop women</a>
                                <a href="#" class="template-btn tb-2 mt-sm-3">Shop men</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->

<!-- Discount Starts -->
<section dir="rtl" class="discount-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 fadeInLeft">
                <div class="discount-content">
                    <div class="section-title">
                        <h2>نحرص علي تقديم أفضل تصميم يناسبك بأفضل سعر وأكثر عروض</h2>
                    </div>
                    <p>مع خبرة دامت أكثر من خمس اعوام في تصميم الازياء نحن نقدم لك تصميم جميع ملابسك بالشكل الذي تريده والمتابعة معك في كل الاوقات واحترام جميع تعديلاتك</p>
                    <div class="btn-margin-top mb-5 mb-lg-0">
                        <a href="#" class="template-btn2">view items <span>&rharu;</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 fadeInRight">
                <div class="discount-image">
                    <div class="d-flex justify-content-between">
                        <div class="image-bg image-1"></div>
                        <div class="image-bg image-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount End -->
            
<!-- Services Starts -->
<section class="services-area">
    <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>خدمات براند الياس</h2>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6  fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                <div class="single-item mb-5 mb-lg-0">
                    <img src="assets/img/ser1.jpg" alt="">
                    <h5 class="my-4">الدعاوي والقمصان</h5>
                    <p>فيه ملخص هنا عن الخدمة</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  fadeIn" data-wow-duration=".8s" data-wow-delay=".4s">
                <div class="single-item mb-5 mb-lg-0">
                    <img src="assets/img/ser2.jpg" alt="">
                    <h5 class="my-4">تصميم الملابس</h5>
                    <p>فيه ملخص هنا عن الخدمة</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  fadeIn" data-wow-duration=".8s" data-wow-delay=".6s">
                <div class="single-item">
                    <img src="assets/img/ser3.jpg" alt="">
                    <h5 class="my-4">بدل زفاف</h5>
                    <p>فيه ملخص هنا عن الخدمة</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  fadeIn" data-wow-duration=".8s" data-wow-delay=".8s">
                <div class="single-item">
                    <img src="assets/img/ser3.jpg" alt="">
                    <h5 class="my-4">فساتين زفاف</h5>
                    <p>فيه ملخص هنا عن الخدمة</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->

<!-- Picks Starts -->
<section class="picks-area section-padding-both">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>بعض منتجاتنا</h2>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-one-content active">
                <div class="row">

                    {%- for product in collections.featuredProduct | reverse -%}
                        <div class="col-lg-3 col-md-6">
                            <div class="single-cart-item">
                                <div class="single-cart-image">
                                    <img class="image-item-01 item-active" src="{{product.data.imageBlack}}" alt="">
                                    <img class="image-item-02" src="{{product.data.imageBlue}}" alt="">
                                    <div class="image-dots">
                                        <div class="dot-01" style="background-color: #1c2c60;"></div>
                                        <div class="dot-02 active" style="background-color: #26282b;"></div>
                                    </div>
                                </div>

                                <div class="single-cart-content">
                                    <div class="cart-content">
                                        <h5>{{product.data.title}}</h5>
                                        <h5>السعر: {{product.data.price}} جنيه</h5>
                                    </div>
                                </div>

                                <div class="single-cart-button">
                                    <a href="{{ product.url }}" class="cart-button">تفاصيل</a>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}

                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="template-btn2">شوف كل منتجاتنا <span>&rharu;</span></a>
        </div>
    </div>
</section>
<!-- Picks End -->

<!-- Client Starts -->
<section class="client-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>أراء عملائنا</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 pl-0">
                <div class="client-slider owl-carousel">
                    {%- for image in collections.images | reverse -%}
                        <div class="single-slide">
                            <div class="slide-top d-flex">
                                <div class="slide-content align-self-center">
                                    <h4>أحمد وليد</h4>
                                    <h6 class="diff-h6">مصمم مواقع</h6>
                                </div>
                                <div class="slide-image">
                                    <img src="{{ image.data.image }}" alt="{{ image.data.imageAlt }}">
                                </div>
                            </div>
                            <div class="slide-bottom">
                                <p>
                                    {{ image.data.text }}
                                </p>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- Client End -->

<!-- BLOG Start -->
<div class="article-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-02">
                    <h3 class="margin-bottom-40">أخر مقالاتنا</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {%- for post in collections.featured | reverse -%}
                {% include 'article-graph.njk' %}
            {%- endfor -%}
        </div>
    </div>
</div>
<!-- BLOG END -->