---
title: example
ar: true
layout: 'base.njk'
---

<head>
     <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="إلياس اختيارك ألافضل لتصميم الأزياء - بدل رجالي كلاسيك وفورمال "
    />
    <meta
      name="keywords"
      content="الياس بدل, إلياس فاشون, موقع إلياس لتصميم الأزياء, تصميم أزياء, فاشون, بدل"
    />
    <meta name="theme-color" content="#00000" />
    <meta name="secound-theme-color" content="#FF2D55" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-title" content="إلياس ~ الصفحة الرئيسية" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="upload/fav_icon.png" />
    <link rel="apple-touch-icon-precomposed" href="upload/fav_icon.png" />
    <meta name="application-name" content="إلياس ~ الصفحة الرئيسية" />
    <meta name="title" content="إلياس ~ الصفحة الرئيسية" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="إلياس ~ الصفحة الرئيسية" />
    <meta property="og:title" content="إلياس ~ الصفحة الرئيسية" />
    <meta property="og:description" content="إلياس ~ الصفحة الرئيسية" />
    <meta property="og:url" content="https://www.tedxsha.com" />
    <meta property="og:image" content="https://i.ibb.co/sH3Pswd/tedxsha.png/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TEDxSHA" />
    <meta name="twitter:creator" content="@TEDxSHA" />
    <meta name="twitter:title" content="@TEDxSHA" />
    <meta name="twitter:description" content="الصفحة الرئيسية لموقع إلياس" />
    <meta name="twitter:image:src" content="upload/fav_icon.png" />
    <meta name="note" content="إلياس" />
    <meta name="subject" content="الصفحة الرئيسية لموقع إلياس فاشون" />
    <meta name="identifier-URL" content="https://www.tedxsha.com" />
    <meta name="linkage" content="https://www.tedxsha.com" />
    <meta name="distribution" content="global" />
    <meta name="classification" content="All" />
    <meta name="author" content="إلياس" />
    <meta name="owner" content="https://www.tedxsha.com" />
    <meta name="copyright" content="https://www.tedxsha.com" />
    <meta name="web_author" content="Ahmed Waled" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="operator" content="إلياس" />
    <meta name="contactOrganization" content="https://www.tedxsha.com" />
    <meta name="contactStreetAddress1" content="عباس العقاد" />
    <meta name="contactCity" content="cairo" />
    <meta name="contactCountry" content="Egypt" />
    <meta name="contactPhoneNumber" content="+201113940995" />
    <meta name="contactNetworkAddress" content="https://www.tedxsha.com" />
    <meta name="robots" content="index, follow" />
    <meta name="msapplication-starturl" content="https://www.tedxsha.com" />
    <meta name="msapplication-tooltip" content="موقع إالياس" />
    <meta name="DC.Creator" content="Developed By Ahmed Waled" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <title>{{ title }}</title>
    <!-- favicon -->
    <link rel=icon href=favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <!-- Themify icon -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <!-- Cookie -->
    <link rel="stylesheet" href="/assets/css/cookiealert.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/ss.css">
  
</head>

<!-- navbar area starts -->
<nav class="navbar navbar-area navbar-expand-lg nav-style-02 nav-absolute">
    <div class="container-fluid nav-container">
        <div class="responsive-mobile-menu">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
            <ul dir="rtl" style="text-align: left;" class="navbar-nav">
                <li class="menu-item-has-children current-menu-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="menu-item">
                    <a href="#">عن الياس</a>
                </li>
                <li class="menu-item">
                    <a href="#"> خدماتنا</a>
                </li>
                <li class="menu-item">
                    <a href="#">  الفريق</a>
                </li>
                <li class="menu-item">
                    <a href="#"> معرض الصور والفديوهات</a>
                </li>
                <li class="menu-item">
                    <a href="#"> الياس والنجوم</a>
                </li>
                <li class="menu-item">
                    <a href="#">مقالات تهمك</a>
                </li>
                <li class="menu-item">
                    <a href="#">تواصل معنا</a>
                </li>
            </ul>
        </div>


        <div class="nav-right-content">
            <div class="logo-wrapper">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo/logo.png" alt="logo">
                    <h4>robarto <br>ferracini</h4>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- navbar area end -->

<style>
    .memper-image {
        height: 20rem;
    }
    .banner-links {
        display: flex;
        justify-content: space-evenly;
    }
</style>
            
<!-- Services Starts -->
<section class="section services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>تيم براند الياس</h2>
                </div>
            </div>
            {%- for member in collections.team | reverse -%}
                        <div class="col-lg-3 col-md-6  fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                            <div class="single-item mb-5 mb-lg-0">
                                <img class="memper-image" src="{{ member.data.image }}" alt="{{ member.data.imageAlt }}">
                                <h5 class="my-4">{{ member.data.text }}</h5>
                                <div class="banner-icon">
                                    <ul class="banner-links">
                                        <li><a target="_blank" href="{{ member.data.facebook }}"><i class="fa fa-facebook-official"></i></a></li>
                                        <li><a target="_blank" href="{{ member.data.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<!-- Services End -->
